.task-action {
    cursor: pointer;
}

.bi-trash{
    margin-left: 25px;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: tomato;
}